/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$info: #239bd8;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bulma";

html, body {
  height: 100%;
}

#orders-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-image: image-url("shl.png");
  .brand {
    font-family: 'Carter One', cursive;
  }
}

#info-links {
  text-align: center;
  padding: 3px;
  & > a.button {
    display: block;
    margin-top: 4px;
  }
}
