/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Carter+One|Roboto+Condensed&display=block');

$info: #239bd8;
$header-height: 78vh;
// $family-sans-serif: 'Montserrat', sans-serif;
$family-sans-serif: 'Roboto Condensed', sans-serif;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bulma";

html, body {
  height: 100%;
  background-image: image-url("dot-grid.png");
  background-attachment: fixed;

}

.brand, h1, h2, h3 {
  font-family: 'Carter One', cursive;
  user-select: none;
}

#header-hero-container {
  max-height: $header-height;
  overflow: hidden;
  video {
    width: 100%;
    height: $header-height;
    object-fit: cover;
    z-index: 1;
  }
  #video-loading {
    width: 100%;
    height: $header-height;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: absolute;
  }
  .hero {
    width: 100%;
    position: absolute;
    z-index: 2;
  }
  #overlay-hero {
    height: $header-height;
    opacity: 0.8;
  }
  #content-hero {
    background: transparent;
  }
  .brand {
    font-size: 3em;
  }
}

#header-hero-mobile-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  .hero {
  }
  .brand {
    font-size: 3em;
  }
}

#help-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 680px;
  margin-top: 0px;
  .hero {
    position: absolute;
    top: calc(78vh - 450px);
    width: 100%;
    background: transparent;
    z-index: 3;
    .hero-body {
      // padding-top: 4vh;
      // padding-bottom: 4vh;
    }
  }
  .level-item {
    flex: 1;
    margin: 56px 24px;
  }
  .heading {
    font-size: 3em;
    font-family: 'Carter One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 112px;
    border-radius: 64px;
    background-color: $info;
    color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);

    border: 8px solid #fff;
    background-color: #f4511e;
  }
  .title {
    padding: 1em 0;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  .button {
    margin-top: 20px;
  }
  img {
    max-width: 270px;
    box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.5);
  }
}

#faq-hero-container {
  h3 {
    color: white;
  }
  .container {
    max-width: 620px;
    a:hover {
      color: $info;
    }
    strong {
      color: white;
    }
  }
}

#footer-hero-container {
  p {
    font-size: 0.8em;
  }
  a, a:hover {
    color: white;
  }
}

.price-tag {
  display: inline-block;

  width: auto;
  height: 38px;

  background-color: #f4511e;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #f4511e;

  /* This makes room for the triangle */
  margin-left: 32px;

  position: relative;

  color: white;
  font-weight: 300;
  // font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;

  font-family: 'Carter One', cursive;
  font-size: 1.4em;

  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}

/* Makes the triangle */
.price-tag:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #f4511e;
}

/* Makes the circle */
.price-tag:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


@include mobile {
  #header-hero-mobile-container {
    text-align: center;
    .brand {
      font-size: 2em;
    }
  }
  .price-tag {
    margin-left: 16px;
    font-size: 1em;
  }
  #help-hero-container {
    margin-top: 128px;
    .hero {
      top: 0;
      position: relative;
      z-index: 0;
      .title {
        color: rgba(0, 0, 0, 0.9)
      }
    }
  }
  #header-hero-container {
    .hero-body {
      padding-bottom: 0;
    }
  }
}
